{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="month">
        <ul>
        <li>July<br><span style="font-size:18px">2020</span></li>
        </ul>
    </div>
    
    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>
    
    <ul class="days">
        <li></li>
        <li></li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li><span class="active">15(멋사 정기 세션)</span></li>
        <li>16</li>
        <li><span class="active">17(일화실 중간 고사)</span></li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li><span class="active">22(멋사 정기 세션)</span></li>
        <li>23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li>27</li>
        <li><span class="active">28(일화실 기말 고사)</span></li>
        <li><span class="active">29(멋사 정기 세션)</span></li>
        <li><span class="active">30(대전)</li>
        <li>31</li>
    </ul>
{% endblock %}